In [4]:
import csv
import pandas as pd
import numpy as np
import requests
from IPython.core.display import HTML
from bs4 import BeautifulSoup
import timeit
import seaborn as sb
import matplotlib.pyplot as plt
import json
%matplotlib inline

In [5]:
###Scraping Data
salary = []
company = []
location = []
jobs = []
jobdescription = []
for i in range(31):
    url = "http://www.careerbuilder.com/jobs-data-science?page_number=1&pay=20"
    index = 59
    char = i
    charplus = i + 1
    charplusstring = str(charplus)
    url2 = url[:index] + charplusstring + url[index + 1:]
    rm = requests.get(url2)
    soupm = BeautifulSoup(rm.content, "lxml")
    
    ###Appends job titles
    for d in soupm.findAll(class_='job-title'):
        jobs.append(d.text)
        
    ###Appends job descriptions
    for d in soupm.findAll(class_='job-description show-for-medium-up'):
        jobdescription.append(d.text)
    
    ###Appends salary, company, location.
    z = 0
    for d in soupm.findAll(class_='job-text'):
        if z % 3 == 0:
            salary.append(d.text)
        elif z % 3 == 1:
            company.append(d.text)
        else:
            location.append(d.text)
        
        z += 1

In [9]:
#salary
#company
#location
#jobs
#jobdescription

In [174]:
###Zipping them all together
info = zip(salary, company, location, jobs, jobdescription)

In [175]:
###Putting in DataFrame
df = pd.DataFrame(info)

In [176]:
###Naming Columns
df.columns = ('salary', 'company', 'location', 'title', 'description')

In [177]:
###Breaking location into State
df['state'] = [(x[-3:-1]) for x in df['location']]

In [178]:
###Breaking location into City
df['delete'] = df['location'].str.replace('\n', '-------------------------')

In [179]:
df['delete2'] = [(x[-80:-29]) for x in df['delete']]

In [180]:
df['delete3'] = df['delete2'].str.replace('-', '')

In [181]:
df['city'] = df['delete3']

In [182]:
del df['delete']
del df['delete2']
del df['delete3']
del df['location']

In [183]:
###Removing \n from company
df['company'] = df['company'].str.replace('\n', '')

In [184]:
###Removing \n from title
df['title'] = df['title'].str.replace('\n', '')

In [185]:
###Removing \n from description
df['description'] = df['description'].str.replace('\n', '')

In [186]:
###Creating a column for low end of salary
df['low'] = [(x[18:22]) for x in df['salary']]

In [187]:
###Removing '$'
df['low'] = df['low'].str.replace('$', '')

In [188]:
###Removing 'k'
df['low'] = df['low'].str.replace('k', '')

In [189]:
###Removing '-'
df['low'] = df['low'].str.replace('-', '')

In [190]:
###Removing ','
df['low'] = df['low'].str.replace(',', '')

In [191]:
###Creating a column for high end of salary
df['high'] = [(x[-11:-6]) for x in df['salary']]

In [192]:
###Removing '$'
df['high'] = df['high'].str.replace('$', '')

In [193]:
###Removing 'k'
df['high'] = df['high'].str.replace('k', '')

In [194]:
###Removing '-'
df['high'] = df['high'].str.replace('-', '')

In [195]:
###Removing ','
df['high'] = df['high'].str.replace(',', '')

In [196]:
###Fixing '\nFull'
df['high'] = df['high'].str.replace('\nFull', '')

In [197]:
df

,salary,company,title,description,state,city,low,high
0,\nFull-Time | Pay: $125k - $150k/year\n,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,125,150
1,\nFull-Time | Pay: $90k - $110k/year\n,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,90,110
2,\nFull-Time\n,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,,
3,\nFull-Time | Pay: $32k - $50k/year\n,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,32,50
4,\nFull-Time | Pay: $150k - $200k/year\n,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,150,200
5,\nFull-Time | Pay: $50k - $70k/year\n,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,50,70
6,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,0,100
7,\nFull-Time | Pay: $80k - $120k/year\n,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,80,120
8,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,0,100
9,\nFull-Time | Pay: 0 - 125k /year\n,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,0,125
10,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,0,100
11,\nFull-Time | Pay: $80k - $100k/year\n,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,80,100
12,\nFull-Time | Pay: $100k - $150k/year\n,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,100,150
13,\nFull-Time | Pay: $130k - $140k/year\n,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,130,140
14,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,0,100
15,\nFull-Time | Pay: $80k - $125k/year\n,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,80,125
16,\nFull-Time | Pay: $115k - $135k/year\n,Confidential,Lead Big Data Engineer,Please send resume in Word format if you are i...,NY,Harrison,115,135
17,\nFull-Time | Pay: $70k - $90k/year\n,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,70,90
18,\nFull-Time | Pay: $40k - $50k/year\n,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,40,50
19,"\nFull-Time | Pay: $56,400/year\n",Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,56,6400
20,\nFull-Time | Pay: $75k - $140k/year\n,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,75,140
21,\nFull-Time\n,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,,
22,\nFull-Time | Pay: $100k - $130k/year\n,CyberCoders,Big Data Engineer,This position is open as of 10/18/2016. Big Da...,MA,Somerville,100,130
23,\nFull-Time | Pay: $130k - $150k/year\n,CyberCoders,Chief Data Scientist,This position is open as of 10/18/2016. Chief ...,UT,Salt Lake City,130,150
24,\nFull-Time | Pay: $10k - $150k/year\n,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,10,150
25,\nFull-Time | Pay: $100k - $150k/year\n,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,100,150
26,"\nFull-Time | Pay: $81,640 - $102,674/year\n",City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,81,2674
27,"\nFull-Time | Pay: $94,484 - $118,872/year\n",City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94,8872
28,\nFull-Time | Pay: $80k - $110k/year\n,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,80,110
29,\nFull-Time | Pay: $100k - $175k/year\n,CyberCoders,Lead Data Scientist,This position is open as of 10/18/2016. Lead D...,CA,Los Angeles,100,175
...,...,...,...,...,...,...,...,...
704,"\nFull-Time | Pay: $111,870 - $159,800/year\n",Chelan County Public Utility District,Director - Natural Resources,Located at theconfluence of the Columbia and W...,WA,Wenatchee,111,9800
705,\nFull-Time | Pay: $130k - $160k/year\n,CyberCoders,Documentation Manager,This position is open as of 10/18/2016. Docume...,CA,Redwood City,130,160
706,\nFull-Time | Pay: $100k - $120k/year\n,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,100,120
707,\nFull-Time | Pay: $65k - $80k/year\n,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,65,80
708,\nFull-Time | Pay: $60k - $120k/year\n,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,60,120
709,\nFull-Time | Pay: $35k - $37k/year\n,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,35,37
710,\nFull-Time | Pay: $115k - $125k/year\n,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,115,125
711,\nFull-Time\n,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,,
712,\nFull-Time | Pay: $120k - $135k/year\n,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,120,135
713,\nFull-Time | Pay: $50k/year\n,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50,50
714,"\nSeasonal/Temp | Pay: $38k - $41,500/year\n",Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,ay:,1500
715,\nFull-Time | Pay: $35k/year\n,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35,35
716,\nFull-Time | Pay: $18k - $20k/year\n,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,18,20
717,\nFull-Time | Pay: $32k - $45k/year\n,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,32,45
718,\nFull-Time | Pay: $125k - $155k/year\n,Robert Half Technology,Sr. Great Plains Developer send: Nader.Ali@rht...,Ref ID: 00350-9500206009 Classification: Softw...,CA,La Habra,125,155
719,\nFull-Time\n,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,,
720,\nFull-Time | Pay: $75k - $110k/year\n,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,75,110
721,\nFull-Time | Pay: $70k - $80k/year\n,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,70,80
722,\nFull-Time | Pay: $115k - $135k/year\n,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,115,135
723,\nFull-Time | Pay: $95k - $102k/year\n,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,GA,Atlanta,95,102
724,\nFull-Time | Pay: $140k - $170k/year\n,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,140,170
725,\nFull-Time | Pay: $35k - $50k/year\n,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,35,50
726,\nFull-Time | Pay: $80k/year\n,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80,80
727,\nFull-Time | Pay: $40k - $60k/year\n,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,40,60
728,\nFull-Time | Pay: $45k - $54k/year\n,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,45,54
729,\nFull-Time\n,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,,
730,\nFull-Time | Pay: $100k/year\n,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100,100
731,\nFull-Time | Pay: $60k - $80k/year\n,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,60,80
732,\nFull-Time | Pay: $140k - $170k/year\n,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,140,170
733,\nFull-Time | Pay: $140k - $160k/year\n,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,140,160

In [72]:
df.dtypes

salary         object
company        object
title          object
description    object
state          object
city           object
low            object
high           object
dtype: object

In [198]:
###START OF CODE TO TRY TO FIX NANS ERROR AND CONVERT TO INTEGERS
dftest = df.copy()

In [199]:
###Turning emptys into nans and dropping
dftest['high'].replace('', np.nan, inplace=True)
dftest['low'].replace('', np.nan, inplace=True)
dftest.dropna(subset=['high'], inplace=True)
dftest.dropna(subset=['low'], inplace=True)

In [201]:
###Turning remaining emptys into 0
dftest['high']=dftest['high'].replace('', '0')
dftest['low']=dftest['low'].replace('', '0', inplace=True)

In [204]:
df

,salary,company,title,description,state,city,low,high
0,\nFull-Time | Pay: $125k - $150k/year\n,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,125,150
1,\nFull-Time | Pay: $90k - $110k/year\n,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,90,110
2,\nFull-Time\n,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,,
3,\nFull-Time | Pay: $32k - $50k/year\n,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,32,50
4,\nFull-Time | Pay: $150k - $200k/year\n,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,150,200
5,\nFull-Time | Pay: $50k - $70k/year\n,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,50,70
6,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,0,100
7,\nFull-Time | Pay: $80k - $120k/year\n,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,80,120
8,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,0,100
9,\nFull-Time | Pay: 0 - 125k /year\n,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,0,125
10,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,0,100
11,\nFull-Time | Pay: $80k - $100k/year\n,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,80,100
12,\nFull-Time | Pay: $100k - $150k/year\n,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,100,150
13,\nFull-Time | Pay: $130k - $140k/year\n,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,130,140
14,\nFull-Time | Pay: $0 - $100k/year\n,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,0,100
15,\nFull-Time | Pay: $80k - $125k/year\n,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,80,125
16,\nFull-Time | Pay: $115k - $135k/year\n,Confidential,Lead Big Data Engineer,Please send resume in Word format if you are i...,NY,Harrison,115,135
17,\nFull-Time | Pay: $70k - $90k/year\n,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,70,90
18,\nFull-Time | Pay: $40k - $50k/year\n,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,40,50
19,"\nFull-Time | Pay: $56,400/year\n",Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,56,6400
20,\nFull-Time | Pay: $75k - $140k/year\n,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,75,140
21,\nFull-Time\n,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,,
22,\nFull-Time | Pay: $100k - $130k/year\n,CyberCoders,Big Data Engineer,This position is open as of 10/18/2016. Big Da...,MA,Somerville,100,130
23,\nFull-Time | Pay: $130k - $150k/year\n,CyberCoders,Chief Data Scientist,This position is open as of 10/18/2016. Chief ...,UT,Salt Lake City,130,150
24,\nFull-Time | Pay: $10k - $150k/year\n,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,10,150
25,\nFull-Time | Pay: $100k - $150k/year\n,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,100,150
26,"\nFull-Time | Pay: $81,640 - $102,674/year\n",City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,81,2674
27,"\nFull-Time | Pay: $94,484 - $118,872/year\n",City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94,8872
28,\nFull-Time | Pay: $80k - $110k/year\n,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,80,110
29,\nFull-Time | Pay: $100k - $175k/year\n,CyberCoders,Lead Data Scientist,This position is open as of 10/18/2016. Lead D...,CA,Los Angeles,100,175
...,...,...,...,...,...,...,...,...
704,"\nFull-Time | Pay: $111,870 - $159,800/year\n",Chelan County Public Utility District,Director - Natural Resources,Located at theconfluence of the Columbia and W...,WA,Wenatchee,111,9800
705,\nFull-Time | Pay: $130k - $160k/year\n,CyberCoders,Documentation Manager,This position is open as of 10/18/2016. Docume...,CA,Redwood City,130,160
706,\nFull-Time | Pay: $100k - $120k/year\n,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,100,120
707,\nFull-Time | Pay: $65k - $80k/year\n,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,65,80
708,\nFull-Time | Pay: $60k - $120k/year\n,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,60,120
709,\nFull-Time | Pay: $35k - $37k/year\n,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,35,37
710,\nFull-Time | Pay: $115k - $125k/year\n,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,115,125
711,\nFull-Time\n,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,,
712,\nFull-Time | Pay: $120k - $135k/year\n,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,120,135
713,\nFull-Time | Pay: $50k/year\n,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50,50
714,"\nSeasonal/Temp | Pay: $38k - $41,500/year\n",Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,ay:,1500
715,\nFull-Time | Pay: $35k/year\n,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35,35
716,\nFull-Time | Pay: $18k - $20k/year\n,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,18,20
717,\nFull-Time | Pay: $32k - $45k/year\n,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,32,45
718,\nFull-Time | Pay: $125k - $155k/year\n,Robert Half Technology,Sr. Great Plains Developer send: Nader.Ali@rht...,Ref ID: 00350-9500206009 Classification: Softw...,CA,La Habra,125,155
719,\nFull-Time\n,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,,
720,\nFull-Time | Pay: $75k - $110k/year\n,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,75,110
721,\nFull-Time | Pay: $70k - $80k/year\n,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,70,80
722,\nFull-Time | Pay: $115k - $135k/year\n,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,115,135
723,\nFull-Time | Pay: $95k - $102k/year\n,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,GA,Atlanta,95,102
724,\nFull-Time | Pay: $140k - $170k/year\n,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,140,170
725,\nFull-Time | Pay: $35k - $50k/year\n,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,35,50
726,\nFull-Time | Pay: $80k/year\n,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80,80
727,\nFull-Time | Pay: $40k - $60k/year\n,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,40,60
728,\nFull-Time | Pay: $45k - $54k/year\n,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,45,54
729,\nFull-Time\n,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,,
730,\nFull-Time | Pay: $100k/year\n,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100,100
731,\nFull-Time | Pay: $60k - $80k/year\n,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,60,80
732,\nFull-Time | Pay: $140k - $170k/year\n,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,140,170
733,\nFull-Time | Pay: $140k - $160k/year\n,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,140,160

In [210]:
testing = df['high']

In [211]:
def replace_nulls(x):
    try:
        return int(x)
    except:
        '0'

In [212]:
testing = testing.apply(replace_nulls)

In [208]:
#testing.dropna(inplace=True)

In [214]:
lowtest = df['low']

In [215]:
lowtest = lowtest.apply(replace_nulls)

In [134]:
# lowtest.dropna(inplace=True)

In [152]:
# lowtest

In [217]:
salarycolumns = zip(lowtest, testing)

In [218]:
salarycolumnsframe = pd.DataFrame(salarycolumns)

In [219]:
df2 = pd.concat([df, salarycolumnsframe], axis=1)

In [224]:
#Renaming Columns
df2.columns = ('salary', 'company', 'title', 'description', 'state', 'city', 'low', 'high', 'lowsalary', 'highsalary')

In [226]:
###Dropping Columns
del df2['salary']
del df2['low']
del df2['high']

In [227]:
df2

,company,title,description,state,city,lowsalary,highsalary
0,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,125.0,150.0
1,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,90.0,110.0
2,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,NaN,NaN
3,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,32.0,50.0
4,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,150.0,200.0
5,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,50.0,70.0
6,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,0.0,100.0
7,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,80.0,120.0
8,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,0.0,100.0
9,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,0.0,125.0
10,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,0.0,100.0
11,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,80.0,100.0
12,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,100.0,150.0
13,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,130.0,140.0
14,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,0.0,100.0
15,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,80.0,125.0
16,Confidential,Lead Big Data Engineer,Please send resume in Word format if you are i...,NY,Harrison,115.0,135.0
17,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,70.0,90.0
18,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,40.0,50.0
19,Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,56.0,6400.0
20,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,75.0,140.0
21,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,NaN,NaN
22,CyberCoders,Big Data Engineer,This position is open as of 10/18/2016. Big Da...,MA,Somerville,100.0,130.0
23,CyberCoders,Chief Data Scientist,This position is open as of 10/18/2016. Chief ...,UT,Salt Lake City,130.0,150.0
24,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,10.0,150.0
25,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,100.0,150.0
26,City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,81.0,2674.0
27,City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94.0,8872.0
28,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,80.0,110.0
29,CyberCoders,Lead Data Scientist,This position is open as of 10/18/2016. Lead D...,CA,Los Angeles,100.0,175.0
...,...,...,...,...,...,...,...
704,Chelan County Public Utility District,Director - Natural Resources,Located at theconfluence of the Columbia and W...,WA,Wenatchee,111.0,9800.0
705,CyberCoders,Documentation Manager,This position is open as of 10/18/2016. Docume...,CA,Redwood City,130.0,160.0
706,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,100.0,120.0
707,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,65.0,80.0
708,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,60.0,120.0
709,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,35.0,37.0
710,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,115.0,125.0
711,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,NaN,NaN
712,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,120.0,135.0
713,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50.0,50.0
714,Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,NaN,1500.0
715,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35.0,35.0
716,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,18.0,20.0
717,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,32.0,45.0
718,Robert Half Technology,Sr. Great Plains Developer send: Nader.Ali@rht...,Ref ID: 00350-9500206009 Classification: Softw...,CA,La Habra,125.0,155.0
719,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,NaN,NaN
720,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,75.0,110.0
721,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,70.0,80.0
722,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,115.0,135.0
723,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,GA,Atlanta,95.0,102.0
724,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,140.0,170.0
725,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,35.0,50.0
726,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80.0,80.0
727,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,40.0,60.0
728,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,45.0,54.0
729,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,NaN,NaN
730,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100.0,100.0
731,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,60.0,80.0
732,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,140.0,170.0
733,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,140.0,160.0

In [234]:
#Getting Rid of Error Salaries
def drop_outliers(x):
    if x > 250:
        return np.nan
    else:
        return x

In [235]:
fixer10 = df2['highsalary']

In [237]:
fixer10 = fixer10.apply(drop_outliers)

In [239]:
def low_outliers(x):
    if x > 5:
        return x
    else:
        return np.nan

In [240]:
lowerfixer = df2['lowsalary']

In [248]:
lowhighfix = zip(lowerfixer, fixer10)

In [249]:
lowhigh = pd.DataFrame(lowhighfix)

In [251]:
df2 = pd.concat([df2, lowhigh], axis=1)

In [259]:
df2['low_salary'] = df2[0]
df2['high_salary'] = df2[1]
#df2.head()

In [260]:
##Dropping Columns
del df2[0]
del df2[1]
del df2['lowsalary']
del df2['highsalary']

In [266]:
#Average Salary
((df2['low_salary'].mean()) + (df2['high_salary'].mean())) / 2

95.04615780155692

In [295]:
###Replacing Nans with Average
def averages(x):
    try:
        return int(x)
    except:
        return 95.0

In [296]:
tester94 = df2['low_salary']

In [297]:
tester94 = tester94.apply(averages)

In [300]:
low_with_average = tester94

In [302]:
###Fixing 0.0's
def zerofixer(x):
    try:
        return (x / 0) + x
    except:
        return 95.0

In [304]:
low_with_average = low_with_average.apply(zerofixer)

In [308]:
low_testing = tester94

In [311]:
toaddagain = pd.DataFrame(low_testing)

In [313]:
df3 = pd.concat([df2, toaddagain], axis=1)

In [315]:
df4 = df3.copy()

In [317]:
df5 = df2.copy()

In [319]:
df5['low_salary'] = df5['low_salary'].apply(averages)

In [321]:
df5['high_salary'] = df5['high_salary'].apply(averages)

In [323]:
df6 = df5.copy()

In [350]:
def zeros_to_average(x):
    if x < 5:
        return 95.0
    else:
        return x

In [356]:
df5['low_salary'] = df5['low_salary'].apply(zeros_to_average)
df5['average_salary'] = (df5['low_salary'] + df5['high_salary']) / 2

In [358]:
dfreg = df5.copy()

In [333]:
df6['test'] = df6['state']

In [336]:
df6['test2'] = df6['low_salary']

In [381]:
def finaltry(x):
    if x['low_salary'] < 15:
        return x['high_salary']
    else:
        return x

In [382]:
df6['newtest'] = ''

In [383]:
df6['newtest'] = df6.apply(finaltry, axis = 1)

In [384]:
df6

,company,title,description,state,city,low_salary,high_salary,test,test2,newtest
0,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,125.0,150.0,DC,125.0,Sancus Associates
1,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,90.0,110.0,NY,90.0,Analytic Recruiting
2,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,95.0,95.0,OH,95.0,Tech Mahindra
3,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,32.0,50.0,AZ,32.0,Challenge Charter School
4,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,150.0,200.0,CA,150.0,CyberCoders
5,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,50.0,70.0,TX,50.0,Medix
6,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,0.0,100.0,MD,0.0,100
7,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,80.0,120.0,TX,80.0,Burnett Specialists
8,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,0.0,100.0,WA,0.0,100
9,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,0.0,125.0,MA,0.0,125
10,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,0.0,100.0,MA,0.0,100
11,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,80.0,100.0,OH,80.0,endevis
12,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,100.0,150.0,CA,100.0,CyberCoders
13,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,130.0,140.0,NY,130.0,Protege Hunters
14,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,0.0,100.0,CA,0.0,100
15,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,80.0,125.0,OH,80.0,Emerald Resource Group
16,Confidential,Lead Big Data Engineer,Please send resume in Word format if you are i...,NY,Harrison,115.0,135.0,NY,115.0,Confidential
17,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,70.0,90.0,WA,70.0,Hellickson Associates
18,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,40.0,50.0,AZ,40.0,"Network Technologies International, Inc."
19,Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,56.0,95.0,TX,56.0,Cottonwood Financial
20,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,75.0,140.0,MO,75.0,Personnel Services Inc
21,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,95.0,95.0,PA,95.0,Concurrent Technologies Corporation
22,CyberCoders,Big Data Engineer,This position is open as of 10/18/2016. Big Da...,MA,Somerville,100.0,130.0,MA,100.0,CyberCoders
23,CyberCoders,Chief Data Scientist,This position is open as of 10/18/2016. Chief ...,UT,Salt Lake City,130.0,150.0,UT,130.0,CyberCoders
24,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,10.0,150.0,VA,10.0,150
25,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,100.0,150.0,CA,100.0,Analytic Recruiting
26,City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,81.0,95.0,CA,81.0,City and County of San Francisco
27,City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94.0,95.0,CA,94.0,City and County of San Francisco
28,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,80.0,110.0,CA,80.0,CyberCoders
29,CyberCoders,Lead Data Scientist,This position is open as of 10/18/2016. Lead D...,CA,Los Angeles,100.0,175.0,CA,100.0,CyberCoders
...,...,...,...,...,...,...,...,...,...,...
704,Chelan County Public Utility District,Director - Natural Resources,Located at theconfluence of the Columbia and W...,WA,Wenatchee,111.0,95.0,WA,111.0,Chelan County Public Utility District
705,CyberCoders,Documentation Manager,This position is open as of 10/18/2016. Docume...,CA,Redwood City,130.0,160.0,CA,130.0,CyberCoders
706,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,100.0,120.0,CA,100.0,CyberCoders
707,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,65.0,80.0,IL,65.0,Cogensia
708,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,60.0,120.0,NY,60.0,Smiths Medical
709,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,35.0,37.0,PA,35.0,The Dubin Group
710,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,115.0,125.0,DC,115.0,Total Wine & More
711,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,95.0,95.0,WI,95.0,Sartori Company
712,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,120.0,135.0,PA,120.0,pathwayRP
713,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50.0,50.0,CO,50.0,CSU
714,Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,95.0,95.0,MO,95.0,Ultimate
715,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35.0,35.0,IA,35.0,Community Support Advocates
716,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,18.0,20.0,CA,18.0,Aerotek
717,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,32.0,45.0,PA,32.0,The Institute for Transfusion Medicine
718,Robert Half Technology,Sr. Great Plains Developer send: Nader.Ali@rht...,Ref ID: 00350-9500206009 Classification: Softw...,CA,La Habra,125.0,155.0,CA,125.0,Robert Half Technology
719,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,95.0,95.0,CA,95.0,Pride Industries
720,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,75.0,110.0,CA,75.0,CyberCoders
721,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,70.0,80.0,NJ,70.0,Ajilon Professional Staffing
722,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,115.0,135.0,MA,115.0,Confidential
723,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,GA,Atlanta,95.0,102.0,GA,95.0,Apple & Associates
724,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,140.0,170.0,MA,140.0,The Ascent Services Group
725,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,35.0,50.0,NC,35.0,Randstad USA
726,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80.0,80.0,WA,80.0,Affirma Consulting
727,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,40.0,60.0,NJ,40.0,BrainWorks
728,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,45.0,54.0,MD,45.0,Chickasaw Nation Industries
729,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,95.0,95.0,CA,95.0,Genpact Pharmalink
730,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100.0,100.0,KS,100.0,Confidential
731,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,60.0,80.0,IN,60.0,Meridian Group
732,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,140.0,170.0,NC,140.0,Vaco Technology
733,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,140.0,160.0,CA,140.0,CyberCoders

In [360]:
del dfreg['low_salary']
del dfreg['high_salary']

In [361]:
dfreg

,company,title,description,state,city,average_salary
0,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,137.5
1,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,100.0
2,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,95.0
3,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,41.0
4,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,175.0
5,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,60.0
6,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,97.5
7,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,100.0
8,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,97.5
9,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,110.0
10,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,97.5
11,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,90.0
12,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,125.0
13,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,135.0
14,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,97.5
15,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,102.5
16,Confidential,Lead Big Data Engineer,Please send resume in Word format if you are i...,NY,Harrison,125.0
17,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,80.0
18,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,45.0
19,Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,75.5
20,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,107.5
21,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,95.0
22,CyberCoders,Big Data Engineer,This position is open as of 10/18/2016. Big Da...,MA,Somerville,115.0
23,CyberCoders,Chief Data Scientist,This position is open as of 10/18/2016. Chief ...,UT,Salt Lake City,140.0
24,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,80.0
25,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,125.0
26,City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,88.0
27,City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94.5
28,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,95.0
29,CyberCoders,Lead Data Scientist,This position is open as of 10/18/2016. Lead D...,CA,Los Angeles,137.5
...,...,...,...,...,...,...
704,Chelan County Public Utility District,Director - Natural Resources,Located at theconfluence of the Columbia and W...,WA,Wenatchee,103.0
705,CyberCoders,Documentation Manager,This position is open as of 10/18/2016. Docume...,CA,Redwood City,145.0
706,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,110.0
707,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,72.5
708,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,90.0
709,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,36.0
710,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,120.0
711,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,95.0
712,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,127.5
713,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50.0
714,Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,95.0
715,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35.0
716,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,19.0
717,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,38.5
718,Robert Half Technology,Sr. Great Plains Developer send: Nader.Ali@rht...,Ref ID: 00350-9500206009 Classification: Softw...,CA,La Habra,140.0
719,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,95.0
720,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,92.5
721,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,75.0
722,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,125.0
723,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,GA,Atlanta,98.5
724,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,155.0
725,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,42.5
726,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80.0
727,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,50.0
728,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,49.5
729,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,95.0
730,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100.0
731,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,70.0
732,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,155.0
733,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,150.0

In [363]:
dfreg['high_vs_low'] =

In [365]:
##Bucketing Income
def bucket(x):
    if x['average_salary'] > 95:
        return 1
    else:
        return 0

In [366]:
dfreg2 = dfreg.copy()

In [367]:
dfreg2['high_vs_low'] = dfreg2.apply(bucket, axis =1)

In [387]:
##Now have complete dataset
dfreg2['label'] = dfreg2['high_vs_low']

In [389]:
del dfreg2['high_vs_low']

In [392]:
data = dfreg2

In [393]:
data[['title', 'label']].head()

                                               title  label
0                             Associate Data Science      1
1    Associate, data Science and market Intelligence      1
2                                   BI Data Engineer      0
3  6th grade Science & Language Arts Teacher - Mi...      0
4  Senior Data Scientist - be the first Data Scie...      1

In [396]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer(
    binary=True,  # Create binary features
    stop_words='english', # Ignore common words such as 'the', 'and'
    max_features=50, # Only use the top 50 most common words
)


# This builds a matrix with a row per website (or data point) and column per word (using all words in the dataset)
X = v.fit_transform(data.title).todense()
X = pd.DataFrame(X, columns=v.get_feature_names())
X.head()

,administrator,analyst,application,applications,architect,associate,bangkok,bi,business,clinical,...,senior,software,specialist,sql,sr,supervisor,support,systems,technical,web
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [399]:
y = data.label

In [405]:
def examine_coefficients(model, df9):
    df9 = pd.DataFrame(
        { 'Coefficient' : model.coef_[0] , 'Feature' : df9.columns}
    ).sort_values(by='Coefficient')
    return df9[df9.Coefficient !=0 ]

In [421]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty = 'l1', C = 1.0) # Model with high, little regularization

model.fit(X, y)
examine_coefficients(model, X)

    Coefficient         Feature
26    -2.011887           level
10    -1.251854     coordinator
18    -0.736769      electrical
1     -0.703502         analyst
36    -0.382522         quality
45    -0.297332      supervisor
5     -0.194893       associate
46    -0.138925         support
28    -0.087857       marketing
42    -0.087047      specialist
29    -0.021934             net
3     -0.015594    applications
7      0.112684              bi
23     0.221928    intelligence
47     0.266804         systems
13     0.305852             dba
41     0.347907        software
38     0.431642       scientist
14     0.618441       developer
12     0.639093        database
6      0.676490         bangkok
19     0.678079        engineer
11     0.705265            data
24     0.874946            java
39     0.887338        security
15     0.926431     development
25     1.058559            lead
40     1.095129          senior
44     1.254384              sr
27     1.444813         manager
16     1.594809        director
22     1.809760  infrastructure
4      2.283981       architect

In [422]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X, y, scoring=metric)
    print("mean {}: {}, all: {}".format(metric, scores.mean(), scores))
    
# mean roc_auc: 0.829

mean accuracy: 0.682586149214, all: [ 0.67346939  0.67346939  0.70081967]
mean precision: 0.688739061899, all: [ 0.68817204  0.69662921  0.68141593]
mean recall: 0.590363590135, all: [ 0.55652174  0.53913043  0.6754386 ]
mean roc_auc: 0.74445422363, all: [ 0.7451505   0.72458194  0.76363023]