In [3]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline
sat_scores_path = '/Users/supermaxfederman/DSI-NYC-2/projects/projects-weekly/project-01/assets/sat_scores.csv'

In [8]:
### 1. Data shows all States SAT scores for Math and Verbal and their rate. 
### 2. Unclear what the "Rate" is referring to
### 3. State refers to the State where tests are being taken, Rate (I assume) refers to the percentage of 
### students taking the SAT in that State, Verbal refers to average SAT Verbal section score of students in
### in that state, and Math refers to the average SAT Math section score of students in that state.

In [10]:
rows = []

with open(sat_scores_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)
header = rows[0]
data = rows[1:]
print(header)

['State', 'Rate', 'Verbal', 'Math']

In [14]:
sat_data = {}
for index, column_name in enumerate(header):
    sat_data[column_name]=[]
    for row in data:
        sat_data[column_name].append(row[index])

In [79]:
states = sat_data['State'][0:50]
rates = sat_data['Rate'][0:50]
verbs = sat_data['Verbal'][0:50]
maths = sat_data['Math'][0:50]

In [16]:
sat_data[type('State')]

KeyError: <class 'str'>

In [17]:
### 4/5
print(sat_data)

{'Rate': ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67', '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52', '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13', '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6', '5', '5', '4', '4', '4', '45'], 'Math': ['510', '513', '515', '505', '516', '499', '499', '506', '500', '501', '499', '510', '499', '489', '501', '488', '474', '526', '499', '527', '499', '515', '510', '517', '525', '515', '542', '439', '539', '512', '542', '553', '542', '589', '550', '545', '572', '589', '580', '554', '568', '561', '577', '562', '596', '550', '570', '603', '582', '599', '551', '514'], 'State': ['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All'], 'Verbal': ['509', '499', '511', '495', '520', '501', '500', '511', '506', '510', '501', '508', '493', '491', '499', '486', '482', '526', '498', '527', '493', '485', '514', '498', '523', '509', '539', '534', '539', '527', '543', '562', '551', '576', '550', '547', '561', '580', '577', '559', '562', '567', '577', '564', '584', '562', '575', '593', '577', '592', '566', '506']}

In [20]:
### 6
print(data)

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

In [92]:
### 7
states

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND']

In [98]:
### 8 
 states

SyntaxError: invalid syntax (<ipython-input-98-35c39efaa70e>, line 2)

In [99]:
rates

['82',
 '81',
 '79',
 '77',
 '72',
 '71',
 '71',
 '69',
 '69',
 '68',
 '67',
 '65',
 '65',
 '63',
 '60',
 '57',
 '56',
 '55',
 '54',
 '53',
 '53',
 '52',
 '51',
 '51',
 '34',
 '33',
 '31',
 '26',
 '23',
 '18',
 '17',
 '13',
 '13',
 '12',
 '12',
 '11',
 '11',
 '9',
 '9',
 '9',
 '8',
 '8',
 '8',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4']

In [100]:
verbs

['509',
 '499',
 '511',
 '495',
 '520',
 '501',
 '500',
 '511',
 '506',
 '510',
 '501',
 '508',
 '493',
 '491',
 '499',
 '486',
 '482',
 '526',
 '498',
 '527',
 '493',
 '485',
 '514',
 '498',
 '523',
 '509',
 '539',
 '534',
 '539',
 '527',
 '543',
 '562',
 '551',
 '576',
 '550',
 '547',
 '561',
 '580',
 '577',
 '559',
 '562',
 '567',
 '577',
 '564',
 '584',
 '562',
 '575',
 '593',
 '577',
 '592']

In [101]:
maths

['510',
 '513',
 '515',
 '505',
 '516',
 '499',
 '499',
 '506',
 '500',
 '501',
 '499',
 '510',
 '499',
 '489',
 '501',
 '488',
 '474',
 '526',
 '499',
 '527',
 '499',
 '515',
 '510',
 '517',
 '525',
 '515',
 '542',
 '439',
 '539',
 '512',
 '542',
 '553',
 '542',
 '589',
 '550',
 '545',
 '572',
 '589',
 '580',
 '554',
 '568',
 '561',
 '577',
 '562',
 '596',
 '550',
 '570',
 '603',
 '582',
 '599']

In [105]:
### 9 (reassign some to int's if they are strings...)
type(sat_data['Rate'][40])

str

In [ ]:
### 10

In [72]:
### 12 print max and min of each column (fix Rate)
rate_min = min(sat_data['Rate'][0:50])
rate_max = max(sat_data['Rate'][0:50])
print("The Min of Rate is "+ rate_min)
print("The Max of Rate is "+ rate_max)

The Min of Rate is 11
The Max of Rate is 9

In [70]:
verb_min = min(sat_data['Verbal'][0:50])
verb_max = max(sat_data['Verbal'][0:50])
print("The Min of Verbal is "+ str(verb_min))
print("The Max of Verbal is "+ str(verb_max))

The Min of Verbal is 482
The Max of Verbal is 593

In [71]:
math_min = min(sat_data['Math'][0:50])
math_max = max(sat_data['Math'][0:50])
print("The Min of Math is "+ str(math_min))
print("The Max of Math is "+ str(math_max))

The Min of Math is 439
The Max of Math is 603