In [1]:
import csv
import pandas as pd
import numpy as np
import requests
from IPython.core.display import HTML
from selenium import webdriver
from bs4 import BeautifulSoup
import timeit
import urllib2
import seaborn as sb
import matplotlib.pyplot as plt
import json
%matplotlib inline

In [2]:
###Scraping Data (Takes a couple minutes)
salary = []
company = []
location = []
jobs = []
jobdescription = []
for i in range(31):
    url = "http://www.careerbuilder.com/jobs-data-science?page_number=1&pay=20"
    index = 59
    char = i
    charplus = i + 1
    charplusstring = str(charplus)
    url2 = url[:index] + charplusstring + url[index + 1:]
    rm = requests.get(url2)
    soupm = BeautifulSoup(rm.content, "lxml")
    
    ###Appends job titles
    for d in soupm.findAll(class_='job-title'):
        jobs.append(d.text)
        
    ###Appends job descriptions
    for d in soupm.findAll(class_='job-description show-for-medium-up'):
        jobdescription.append(d.text)
    
    ###Appends salary, company, location.
    z = 0
    for d in soupm.findAll(class_='job-text'):
        if z % 3 == 0:
            salary.append(d.text)
        elif z % 3 == 1:
            company.append(d.text)
        else:
            location.append(d.text)
        
        z += 1

In [3]:
###Returning the lists to check
#salary
#company
#location
#jobs
#jobdescription

In [4]:
###Zipping them all together
info = zip(salary, company, location, jobs, jobdescription)

In [5]:
###Putting in DataFrame
df = pd.DataFrame(info)

In [6]:
###Naming Columns
df.columns = ('salary', 'company', 'location', 'title', 'description')

In [7]:
###Breaking location into State/City
df['state'] = [(x[-3:-1]) for x in df['location']]

In [8]:
###Breaking location into City
df['delete'] = df['location'].str.replace('\n', '-------------------------')

In [9]:
df['delete2'] = [(x[-80:-29]) for x in df['delete']]

In [10]:
df['delete3'] = df['delete2'].str.replace('-', '')

In [11]:
df['city'] = df['delete3']

In [12]:
del df['delete']
del df['delete2']
del df['delete3']
del df['location']

In [13]:
###Removing \n from company
df['company'] = df['company'].str.replace('\n', '')

In [14]:
###Removing \n from title
df['title'] = df['title'].str.replace('\n', '')

In [15]:
###Removing \n from description
df['description'] = df['description'].str.replace('\n', '')

In [16]:
###Creating a column for low end of salary
df['low'] = [(x[18:22]) for x in df['salary']]

In [17]:
###Removing '$'
df['low'] = df['low'].str.replace('$', '')

In [18]:
###Removing 'k'
df['low'] = df['low'].str.replace('k', '')

In [19]:
###Removing '-'
df['low'] = df['low'].str.replace('-', '')

In [20]:
###Removing ','
df['low'] = df['low'].str.replace(',', '')

In [21]:
###Creating a column for high end of salary
df['high'] = [(x[-11:-6]) for x in df['salary']]

In [22]:
###Removing '$'
df['high'] = df['high'].str.replace('$', '')

In [23]:
###Removing 'k'
df['high'] = df['high'].str.replace('k', '')

In [24]:
###Removing '-'
df['high'] = df['high'].str.replace('-', '')

In [25]:
###Removing ','
df['high'] = df['high'].str.replace(',', '')

In [26]:
###Fixing '\nFull'
df['high'] = df['high'].str.replace('\nFull', '')

In [27]:
df.dtypes

salary         object
company        object
title          object
description    object
state          object
city           object
low            object
high           object
dtype: object

In [28]:
###START OF CODE TO FIX NANS AND CONVERT TO INTEGERS
dftest = df.copy()

In [29]:
###Turning emptys into nans and dropping
dftest['high'].replace('', np.nan, inplace=True)
dftest['low'].replace('', np.nan, inplace=True)
dftest.dropna(subset=['high'], inplace=True)
dftest.dropna(subset=['low'], inplace=True)

In [30]:
###Turning remaining emptys into 0
dftest['high']=dftest['high'].replace('', '0')
dftest['low']=dftest['low'].replace('', '0', inplace=True)

In [31]:
###Overriding error to return 0s and ints
testing = df['high']

In [32]:
def replace_nulls(x):
    try:
        return int(x)
    except:
        '0'

In [33]:
testing = testing.apply(replace_nulls)

In [34]:
#testing.dropna(inplace=True)

In [35]:
lowtest = df['low']

In [36]:
lowtest = lowtest.apply(replace_nulls)

In [37]:
# lowtest.dropna(inplace=True)

In [38]:
# lowtest

In [39]:
###putting together for a dataframe
salarycolumns = zip(lowtest, testing)

In [40]:
salarycolumnsframe = pd.DataFrame(salarycolumns)

In [41]:
df2 = pd.concat([df, salarycolumnsframe], axis=1)

In [42]:
#Renaming Columns
df2.columns = ('salary', 'company', 'title', 'description', 'state', 'city', 'low', 'high', 'lowsalary', 'highsalary')

In [43]:
###Dropping Columns
del df2['salary']
del df2['low']
del df2['high']

In [44]:
#Getting Rid of Error Salaries
def drop_outliers(x):
    if x > 250:
        return np.nan
    else:
        return x

In [45]:
fixer10 = df2['highsalary']

In [46]:
fixer10 = fixer10.apply(drop_outliers)

In [47]:
#Getting Rid of Error Salaries in the 'Low' Column
def low_outliers(x):
    if x > 5:
        return x
    else:
        return np.nan

In [48]:
lowerfixer = df2['lowsalary']

In [49]:
lowhighfix = zip(lowerfixer, fixer10)

In [50]:
lowhigh = pd.DataFrame(lowhighfix)

In [51]:
df2 = pd.concat([df2, lowhigh], axis=1)

In [52]:
df2['low_salary'] = df2[0]
df2['high_salary'] = df2[1]
#df2.head()

In [53]:
##Dropping Columns
del df2[0]
del df2[1]
del df2['lowsalary']
del df2['highsalary']

In [54]:
#Average Salary
((df2['low_salary'].mean()) + (df2['high_salary'].mean())) / 2

95.13678927890547

In [55]:
###Replacing Nans with Average
def averages(x):
    try:
        return int(x)
    except:
        return 95.0

In [56]:
tester94 = df2['low_salary']

In [57]:
tester94 = tester94.apply(averages)

In [58]:
low_with_average = tester94

In [59]:
###Return the mean for 0.0 cells
def zerofixer(x):
    try:
        return (x / 0) + x
    except:
        return 95.0

In [60]:
low_with_average = low_with_average.apply(zerofixer)

In [61]:
low_testing = tester94

In [62]:
toaddagain = pd.DataFrame(low_testing)

In [63]:
df3 = pd.concat([df2, toaddagain], axis=1)

In [64]:
df4 = df3.copy()

In [65]:
df5 = df2.copy()

In [66]:
###Applying the original 'averages' function directly to the dataframe
df5['low_salary'] = df5['low_salary'].apply(averages)

In [67]:
df5['high_salary'] = df5['high_salary'].apply(averages)

In [68]:
df6 = df5.copy()

In [69]:
###Easier method. Returning the mean if salary is less than $5,000.
def zeros_to_average(x):
    if x < 5:
        return 95.0
    else:
        return x

In [70]:
df5['low_salary'] = df5['low_salary'].apply(zeros_to_average)
df5['average_salary'] = (df5['low_salary'] + df5['high_salary']) / 2

In [71]:
dfreg = df5.copy()

In [72]:
del dfreg['low_salary']
del dfreg['high_salary']

In [73]:
dfreg

,company,title,description,state,city,average_salary
0,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,137.5
1,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,100.0
2,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,95.0
3,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,41.0
4,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,175.0
5,Medix,Research Scientist,Research Scientist This Research Scientist wil...,TX,Dallas,60.0
6,BIG WEDNESDAY DIGITAL,Junior Data Scientist - global eCommerce - Ban...,Junior Data Scientist - global eCommerce leade...,MD,Baltimore,97.5
7,Burnett Specialists,Data Scientist,Job Reference #: 41-1014TBD-16CT Data Scientis...,TX,Houston,100.0
8,BIG WEDNESDAY DIGITAL,Senior/Lead/NLP- Data Scientist - Bangkok role...,Senior/Lead/NLP- Data Scientist - Bangkok base...,WA,Seattle,97.5
9,Kelly Scientific Resources,"Sr. Manager, Medical Data Methodology",Kelly Clinical and a highly reputable pharmace...,MA,Cambridge,110.0
10,BIG WEDNESDAY DIGITAL,Data Scientist / Machine Learning Expert - Ban...,Data Scientist / Machine Learning Expert Pleas...,MA,Boston,97.5
11,endevis,Data Integration Developer,Endevis talent acquisition firm is working wit...,OH,Toledo,90.0
12,CyberCoders,Data Product Manager,This position is open as of 10/18/2016. Data P...,CA,San Francisco,125.0
13,BIG WEDNESDAY DIGITAL,Lead Data Scientist / Data Scientist Manager -...,Lead Data Scientist (Bangkok) - FULL RELOCATIO...,CA,Palo Alto,97.5
14,Protege Hunters,Sales Engineer - Data Loss Protection Platform,TECHNICAL SALES ENGINEER - DATA SECURITY / DAT...,NY,New York,135.0
15,Kelly IT Resources,Junior MDM Data Analyst,Junior MDM Data Analyst This is an entry level...,MA,Lexington,27.5
16,Confidential,Big Data Engineer,BACH DEGREE IS REQUIRED FOR THIS POSITION!!!!!...,TX,Plano,77.5
17,Emerald Resource Group,Data Architect,Data Architect - Healthcare Direct Hire/FTE Co...,OH,Columbus,102.5
18,Confidential,Lead Big Data Engineer,BACH DEGREE IS REQUIRED FOR THIS POSITION!!!!!...,NY,Harrison,120.0
19,Hellickson Associates,Data Center Engineer -Cisco,My client an IT services provide has an immedi...,WA,Spokane,80.0
20,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,125.0
21,"Network Technologies International, Inc.",GIS Analyst I,Geographic Information Systems Analyst We are ...,AZ,Scottsdale,45.0
22,Cottonwood Financial,RISK ANALYST / STATISTICIAN,Reporting to the head of Risk and working clos...,TX,Irving,75.5
23,Personnel Services Inc,Manager Field Agronomy,"Manager Field Agronomy LOCATION: Kansas City, ...",MO,Kansas City,107.5
24,Concurrent Technologies Corporation,SENIOR PRINCIPAL DATA SCIENTIST,"AtConcurrent Technologies Corporation (CTC), w...",PA,Johnstown,95.0
25,Aerotek,Data Scientist,Now hiring Data Scientists on DARPA's Net Defe...,VA,Arlington,80.0
26,Analytic Recruiting,Marketing Sciences Manager,Marketing Sciences Manager Major Responsibilit...,CA,San Francisco,125.0
27,City and County of San Francisco,Data Clean Up and Conversion Lead,Data Clean Up and Conversion Lead $39.25 - $49...,CA,San Francisco,88.0
28,City and County of San Francisco,Data Conversion Strategy Supervisor,Data Conversion Strategy Supervisor $45.43 - $...,CA,San Francisco,94.5
29,CyberCoders,Data Visualization Engineer,This position is open as of 10/18/2016. Data V...,CA,Livermore,95.0
...,...,...,...,...,...,...
720,CyberCoders,Technical Writer,This position is open as of 10/18/2016. Techni...,CA,Redwood City,110.0
721,Cogensia,"Senior Analyst, Strategic & Analytic Solutions...",Cogensia is intelligence that compels; we are ...,IL,Schaumburg,72.5
722,Smiths Medical,Field Support Specialist,"AtSmiths Medical, we are passionate about impr...",NY,New York,90.0
723,The Dubin Group,Project Assistant,"Overview: Job ID 8929 Our client, a Clinical T...",PA,Wayne,36.0
724,Total Wine & More,IT Security Engineer,Why Apply? Is it important for you be excited ...,DC,Washington,120.0
725,Kelly IT Resources,Help Desk - Field Sales Support Technician,Help Desk! Field Sales Support Technician need...,IN,Indianapolis,20.0
726,Sartori Company,Consumer Insights Manager,world award-winning cheeseto the finest retail...,WI,Plymouth,95.0
727,pathwayRP,Clinical Research Business Dev Manager,Our client is seeking a Business Development M...,PA,Philadelphia,127.5
728,CSU,Research Associate 1,Description of Work Unit: Human Development an...,CO,Fort Collins,50.0
729,Ultimate,Human Resource Coordinator,A client in the Maryland Heights area is seeki...,MO,Saint Louis,95.0
730,Confidential,Web and Database Manager,Pomeroy is seeking a Web and Database Manager ...,KS,Mission,100.0
731,Meridian Group,Business Analyst / Reporting Analyst,Leading Education solutions provider seeking t...,IN,Indianapolis,70.0
732,Vaco Technology,Director of Solution Architecture - Banking,"IT management professionals, take your career ...",NC,Charlotte,155.0
733,CyberCoders,Director of Customer Analytics,This position is open as of 10/18/2016. Direct...,CA,El Segundo,150.0
734,Community Support Advocates,Case Manager,Provides care coordination for members; coordi...,IA,Des Moines,35.0
735,Real Staffing,Senior Regulatory Affairs Specialist,The Senior Regulatory Affairs Specialist creat...,WA,Seattle,92.5
736,Mason Frank,"Director of Sales Operations| Center Valley, P...",The Director of Salesforce Enablement is respo...,PA,Center Valley,170.0
737,Aerotek,Lab Associate - Project Management,Aerotek Scientific is looking for Lab Techs in...,CA,Valencia,19.0
738,The Institute for Transfusion Medicine,IT Help Desk Analyst,The IT Help Desk Analyst Delivers 1st level He...,PA,Pittsburgh,38.5
739,Pride Industries,Case Manager,PRIDE Industries is a fast-paced company with ...,CA,Roseville,95.0
740,CyberCoders,"Bioinformatics Scientist - ""Top 10 Pharma/Biot...",This position is open as of 10/18/2016. Bioinf...,CA,Menlo Park,92.5
741,Ajilon Professional Staffing,Marketing Specialist,"Marketing Specialist Mount Olive, NJ $60-80k O...",NJ,Mount Olive Township,75.0
742,Confidential,Storage Engineer - Senior OR Lead Storage Engi...,Role & Responsibilities - Responsible for effe...,MA,Burlington,125.0
743,Apple & Associates,Clinical Support Specialist,Our client is a leading manufacturer of Medica...,NC,Charlotte,98.5
744,The Ascent Services Group,Associate Director of Strategic IT and Telecom...,Job Title: Associate Director of Strategic IT ...,MA,Billerica,155.0
745,Randstad USA,Payroll Specialist - Raleigh,SEEKING PAYROLL SPECIALIST IN RALEIGH! PLEASE ...,NC,Raleigh,42.5
746,Affirma Consulting,Microsoft Dynamics CRM Developer,At Affirma Consulting the CRM Practice is resp...,WA,Bellevue,80.0
747,BrainWorks,Recruiting Account Executive,Recruiting Account Executive: LEARN TO BE A RE...,NJ,New Providence,50.0
748,Chickasaw Nation Industries,Policy Analyst (FDA OIP & OPHT),In support of the U.S. Department of Health an...,MD,Silver Spring,49.5
749,Genpact Pharmalink,"Associate Program Director, Commercial RA","Associate Program Director, PRC (E4) is an exp...",CA,San Francisco,95.0

In [74]:
##Bucketing Income
def bucket(x):
    if x['average_salary'] > 95:
        return 1
    else:
        return 0

In [75]:
dfreg2 = dfreg.copy()

In [76]:
dfreg2['high_vs_low'] = dfreg2.apply(bucket, axis =1)

In [77]:
##Now have complete dataset
dfreg2['label'] = dfreg2['high_vs_low']

In [78]:
del dfreg2['high_vs_low']

In [79]:
data = dfreg2

<h1> 'Data' is our final dataset </h1>
<br>
<p>
After scraping 30 pages of search results for "Data Science" on careerbuilder.com, cleaning the data, and creating a binary column for 'high' vs 'low' salary we finally have our final dataframe. We determined salaries above the mean of $95,000 would be considered 'high' and anything else would be 'low'.
</p>

In [80]:
data.head()

,company,title,description,state,city,average_salary,label
0,Sancus Associates,Associate Data Science,"Associate Data Scientist AdTech $125,000-150,0...",DC,District of Columbia,137.5,1
1,Analytic Recruiting,"Associate, data Science and market Intelligence","Associate, data Science and market Intelligenc...",NY,New York,100.0,1
2,Tech Mahindra,BI Data Engineer,Position Title: BI Data Engineer Location: New...,OH,New Albany,95.0,0
3,Challenge Charter School,6th grade Science & Language Arts Teacher - Mi...,Arizona’s 1st Official Core Knowledge® School;...,AZ,Glendale,41.0,0
4,CyberCoders,Senior Data Scientist - be the first Data Scie...,This position is open as of 10/18/2016. Senior...,CA,Marina del Rey,175.0,1

In [81]:
def examine_coefficients(model, dftitles):
    dftitles = pd.DataFrame(
        { 'Coefficient' : model.coef_[0] , 'Feature' : dftitles.columns}
    ).sort_values(by='Coefficient')
    return dftitles[dftitles.Coefficient !=0 ]

In [82]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer(
    binary=True,  
    stop_words='english', 
    max_features=50, 
)



X = v.fit_transform(data.title).todense()
X = pd.DataFrame(X, columns=v.get_feature_names())
X.head()

,administrator,analyst,analytics,application,applications,architect,associate,bangkok,bi,business,...,software,specialist,sql,sr,supervisor,support,systems,technical,technology,web
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
y = data.label

In [89]:
import sklearn as skl
from sklearn import linear_model

model = skl.linear_model.LogisticRegression(penalty = 'l1', C = 10.0) 

model.fit(X, y)
datatitle = examine_coefficients(model, X)

In [90]:
datatitle

    Coefficient         Feature
26    -4.286093           level
10    -3.091250     coordinator
24    -1.371003          junior
2     -1.197266       analytics
35    -0.911039         quality
6     -0.720863       associate
45    -0.607903         support
17    -0.510574       ecommerce
20    -0.404149     information
1     -0.376480         analyst
41    -0.346657      specialist
34    -0.335498         project
0     -0.310305   administrator
32    -0.282518         product
4     -0.275770    applications
31    -0.264115      operations
9     -0.200706        business
29    -0.187643             net
44    -0.131383      supervisor
30    -0.096231         network
48    -0.039509      technology
28    -0.025837       marketing
42     0.034129             sql
3      0.042553     application
22     0.112549    intelligence
49     0.380457             web
40     0.386817        software
36     0.470654        research
47     0.495652       technical
46     0.513722         systems
8      0.606643              bi
11     0.615842            data
37     0.808868       scientist
14     0.900348       developer
38     0.942370        security
23     0.988959            java
18     1.005591        engineer
12     1.084997        database
39     1.090134          senior
13     1.279616             dba
15     1.362675     development
25     1.434178            lead
43     1.451041              sr
27     1.714165         manager
16     2.255294        director
7      2.272403         bangkok
5      2.728616       architect
21     4.344749  infrastructure

In [91]:
###Testing to see how well the model performed
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X, y, scoring=metric)
    print("mean {}: {}, all: {}".format(metric, scores.mean(), scores))

mean accuracy: 0.654652629109, all: [ 0.68924303  0.596       0.67871486]
mean precision: 0.637314864784, all: [ 0.66666667  0.56880734  0.67647059]
mean recall: 0.598659003831, all: [ 0.66666667  0.53448276  0.59482759]
mean roc_auc: 0.725751842353, all: [ 0.75369945  0.65842126  0.76513482]

<h1> Testing the Model </h1>
<br>
<p>
Our model testing words in 'job title' to predict salary had an roc_auc score of 0.75, accuracy of .66, precision of .66, and recall of .57.
</p>
<p> The words in the job title that were the strongest indicators of low salary were level, coordinator, and analytics.
</p>
<p>
The words in the job title that were the strongest indicators of high salaries were infrastructure, architect, director, and engineering.
</p>
<p>
The words in job description that were the strongest indicators of high salaries were 'manager', 'responsible', 'experience', 'senior', 'business',  and 'growing'.
</p>
<p>
The words in job description that were the strongest indicators of low salaries were 'analyst', 'position', 'job', 'support', 'opportunity', 'hire', 'new', 'systems', and 'time'.
</p>

In [92]:
def examine_coefficients2(model, dfdesc):
    dfdesc = pd.DataFrame(
        { 'Coefficient' : model.coef_[0] , 'Feature' : dfdesc.columns}
    ).sort_values(by='Coefficient')
    return dfdesc[dfdesc.Coefficient !=0 ]

In [93]:
###Model based on Description
v2 = CountVectorizer(
    binary=True,  # Create binary features
    stop_words='english', # Ignore common words such as 'the', 'and'
    max_features=50, # Only use the top 50 most common words
)


# This builds a matrix with a row per website (or data point) and column per word (using all words in the dataset)
X2 = v2.fit_transform(data.description).todense()
X2 = pd.DataFrame(X2, columns=v2.get_feature_names())
X2.head()

,00,000,10,18,2016,analyst,applications,based,business,client,...,solutions,summary,support,systems,team,technical,technology,time,work,year
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [94]:
y = data.label

In [99]:
model = skl.linear_model.LogisticRegression(penalty = 'l1', C = 1.0) # Model with high, little regularization

model.fit(X2, y)
datadescription = examine_coefficients(model, X2)

In [100]:
#datadescription

In [101]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import confusion_matrix

import numpy as np
import pandas as pd
import patsy

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.grid_search import GridSearchCV

In [102]:
###We also created a model based on City/State/Title/Description
X = patsy.dmatrix('~C(city) + C(state) +C(company) + C(title) +C(description)' , data)
y = data['label'].values

In [103]:
pdf = pd.DataFrame(X, columns=X.design_info.column_names)
pdf['Target'] = y
#pdf

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=77)

In [105]:
lr = LogisticRegression(solver='liblinear')

In [106]:
lr_model = lr.fit(X_train, y_train)

In [107]:
lr_ypred = lr_model.predict(X_test)

In [108]:

lr_cm = confusion_matrix(y_test, lr_ypred, labels=lr.classes_)
lr_cm = pd.DataFrame(lr_cm, columns=lr.classes_, index=lr.classes_)
lr_cm

     0   1
0  100  36
1   48  64

In [109]:
print classification_report(y_test, lr_ypred, labels=lr.classes_)

             precision    recall  f1-score   support

          0       0.68      0.74      0.70       136
          1       0.64      0.57      0.60       112

avg / total       0.66      0.66      0.66       248

In [110]:
lr_l1 = LogisticRegression(C=500, penalty='l1', solver='liblinear')
lr_l1_model = lr_l1.fit(X_train, y_train)

In [111]:
lr_l1_model = lr_l1.fit(X_train, y_train)

In [112]:
lr_l1_ypred = lr_l1_model.predict(X_test)

In [113]:
lr_l1_cm = confusion_matrix(y_test, lr_l1_ypred, labels=lr_l1.classes_)
lr_l1_cm = pd.DataFrame(lr_l1_cm, columns=lr_l1.classes_, index=lr_l1.classes_)
lr_l1_cm

     0   1
0  118  18
1   57  55

In [114]:
print classification_report(y_test, lr_l1_ypred, labels=lr_l1.classes_)

             precision    recall  f1-score   support

          0       0.67      0.87      0.76       136
          1       0.75      0.49      0.59       112

avg / total       0.71      0.70      0.68       248

<p>
Our model testing based on city, state, title, description, and company had an f1-score of .64 when we did a regular logistic regression and had an f1-score of .66 when we used an L1 with a C of 500.
</p>